# Análise dos dados de escolas Municipais em situação precária, utilizando API

São dados do INEP

Análise dos dados obtidos pela API da Educação Inteligente



Origem: http://educacao.dadosabertosbr.com/api/docs/%2Fapi%2Fescolas%2Fbuscaavancada

URL Request: http://educacao.dadosabertosbr.com/api/escolas/buscaavancada?situacaoFuncionamento=1&energiaInexistente=on&aguaInexistente=on&esgotoInexistente=on&cozinha=on


Utilizando API, as atualizações ocorreram conforme o site atualizar;

Os dados estão sendo passado por JSON;


Tem 0 a 39 linhas na data 14/07/2020

In [1]:
#Importando as bibliotecas

import pandas as pd
import requests as rq
import numpy as np

url =  'http://educacao.dadosabertosbr.com/api/escolas/buscaavancada?situacaoFuncionamento=1&energiaInexistente=on&aguaInexistente=on&esgotoInexistente=on&cozinha=on'

resposta = rq.get(url)

resposta.text

'<html>\r\n<head><title>504 Gateway Time-out</title></head>\r\n<body bgcolor="white">\r\n<center><h1>504 Gateway Time-out</h1></center>\r\n<hr><center>nginx/1.4.6 (Ubuntu)</center>\r\n</body>\r\n</html>\r\n'

In [14]:
 '''Obtendo os dados do dicionário, observe que não tem chave e valor.
    Nesse caso pode-se usar o valor 0 que retorna 538
    ou o valor 1 que retorna todos os dados.
    
    Está acessando o dicionário por indice
    
 '''


df = pd.DataFrame(resposta.json()[1])
df.head(20)

,anoCenso,cod,nome,codCidade,cidade,estado,regiao,situacaoFuncionamento,dependenciaAdministrativa,idebAI,idebAF,enemMediaGeral,situacaoFuncionamentoTxt,dependenciaAdministrativaTxt
0,2013,41036026,BAIRRO DOS MENDES E R M EF,4104402,CANDIDO DE ABREU,PR,Sul,1,3,0.0,0.0,0.0,Em atividade,Municipal
1,2013,15008258,E M E F AGUA AZUL,1504802,MONTE ALEGRE,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
2,2013,15534340,E M E F AGUA BOA,1505650,PLACAS,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
3,2013,15525821,E M E F AMAZONIA,1505064,NOVO REPARTIMENTO,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
4,2013,15022790,E M E F AMELIA HOLANDA,1500305,AFUA,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
5,2013,15077179,E M E F AMERICO BRASIL,1505205,OEIRAS DO PARA,PA,Norte,1,3,2.5,0.0,0.0,Em atividade,Municipal
6,2013,15536580,E M E F ANJO DA GUARDA,1504703,MOJU,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
7,2013,15546721,E M E F APOSTOLO PAULO,1500305,AFUA,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
8,2013,15571173,E M E F ARARA AZUL,1505064,NOVO REPARTIMENTO,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
9,2013,15121771,E M E F ARCO IRIS,1507300,SAO FELIX DO XINGU,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
10,2013,15520340,E M E F BAIXO URUBUQUARA,1502004,CACHOEIRA DO ARARI,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
11,2013,15524418,E M E F BETEL,1503457,IPIXUNA DO PARA,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
12,2013,15008312,E M E F BOA ESPERANCA I,1504802,MONTE ALEGRE,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
13,2013,15568598,E M E F BOA UNIAO,1505809,PORTEL,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
14,2013,15094804,E M E F BOA VISTA,1507201,SAO DOMINGOS DO CAPIM,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
15,2013,15582566,E M E F BOCA PEQUENA NOVA,1502004,CACHOEIRA DO ARARI,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
16,2013,15544923,E M E F BRACO DO MEIO,1508308,VISEU,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
17,2013,15545679,E M E F CABECEIRA DO IGARAPE GRANDE,1504802,MONTE ALEGRE,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
18,2013,15119149,E M E F CANDIRUACU,1503457,IPIXUNA DO PARA,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
19,2013,15530140,E M E F CANOAS DE CIMA,1508308,VISEU,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal

In [16]:
# Qual o tamanho do DF?

df.shape

(100, 14)

In [19]:
# Todas as linhas estão preenchidas?
df.count()

anoCenso                        100
cod                             100
nome                            100
codCidade                       100
cidade                          100
estado                          100
regiao                          100
situacaoFuncionamento           100
dependenciaAdministrativa       100
idebAI                          100
idebAF                          100
enemMediaGeral                  100
situacaoFuncionamentoTxt        100
dependenciaAdministrativaTxt    100
dtype: int64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   anoCenso                      100 non-null    int64
 1   cod                           100 non-null    int64
 2   nome                          100 non-null    object
 3   codCidade                     100 non-null    int64
 4   cidade                        100 non-null    object
 5   estado                        100 non-null    object
 6   regiao                        100 non-null    object
 7   situacaoFuncionamento         100 non-null    int64
 8   dependenciaAdministrativa     100 non-null    int64
 9   idebAI                        100 non-null    float64
 10  idebAF                        100 non-null    float64
 11  enemMediaGeral                100 non-null    float64
 12  situacaoFuncionamentoTxt      100 non-null    object
 13  dependenciaAdministrativaTxt  100 non-null    object
dtypes: float64(3), int64(5), object(6)
memory usage: 11.1+ KB

In [21]:
# Quais as descrições?
df.describe()

,anoCenso,cod,codCidade,situacaoFuncionamento,dependenciaAdministrativa,idebAI,idebAF,enemMediaGeral
count,100.0,1.000000e+02,1.000000e+02,100.0,100.0,100.000000,100.0,100.0
mean,2013.0,1.548673e+07,1.531281e+06,1.0,3.0,0.084000,0.0,0.0
std,0.0,2.590192e+06,2.599217e+05,0.0,0.0,0.490252,0.0,0.0
min,2013.0,1.500008e+07,1.500206e+06,1.0,3.0,0.000000,0.0,0.0
25%,2013.0,1.507906e+07,1.504703e+06,1.0,3.0,0.000000,0.0,0.0
50%,2013.0,1.510980e+07,1.505205e+06,1.0,3.0,0.000000,0.0,0.0
75%,2013.0,1.552690e+07,1.507201e+06,1.0,3.0,0.000000,0.0,0.0
max,2013.0,4.103603e+07,4.104402e+06,1.0,3.0,3.600000,0.0,0.0

In [24]:
# Em quais estados estão as escolas?

df['estado'].head()

0    PR
1    PA
2    PA
3    PA
4    PA
Name: estado, dtype: object

In [ ]:
# Obs: parece que há 4 tipos de PR

In [28]:
# Quantas escolas por estados?
df.groupby('estado')['nome'].count()

estado
PA    99
PR     1
Name: nome, dtype: int64

In [30]:
df['estado'].value_counts()

PA    99
PR     1
Name: estado, dtype: int64

In [31]:
# São todas escola Municipais?
df['dependenciaAdministrativaTxt'].value_counts()

Municipal    100
Name: dependenciaAdministrativaTxt, dtype: int64

In [44]:
 total_escolasMunicipais = df['dependenciaAdministrativaTxt'].count()
 total_registros_escolas = df['cod'].count()

In [93]:
# Porcentagem para ver a representação das escolas municpais
    
x = (total_escolasMunicipais/total_registros_escolas)*100


print(f'A representação de escolas Municipais:{x:.0f}%')

A representação de escolas Municipais:100%